<div class="row h-100 d-flex align-items-center justify-content-end ps-5 pb-5">
  <!-- <div *ngIf="isLogged" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Indicates a successful or positive action.
  </div> -->

    <div class="col p-4">
      <img src=".\assets\Logo.svg" class="ms-auto row " width="230px" height="144px" id="ham" alt="ham">
      <div class="ms-auto row text-end"><h3>Revolutionize Your Farming with Real-time Edge AI Diagnosis and Weather<br> Forecasting</h3>
      </div>
    </div>
    
    <div class="col pe-5">
      <app-login-card (isLogged)="onEvent($event)"></app-login-card>
      <!-- <router-outlet></router-outlet> -->
    </div>

    
    
</div>

  
