<div class="d-flex">
    <app-pill-menu class="pill"></app-pill-menu>
    <div class="d-flex flex-column">
        <div class="d-flex rowdim justify-content-evenly mt-3">

            <div class="rect d-flex flex-column">
                <h1 class="topic mt-2 ms-3 mb-0">Predicted Daily Weather Summary</h1>
                <h1 class="info ms-3">112%</h1>
            </div>

        </div>
    
        <div class="d-flex rowdim justify-content-center mt-5">

            <div class="rect2 d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex rect3 flex-column">
                    <h1 class="topic mt-2 ms-3 mb-0">Wind Speed</h1>
                    <h1 class="info ms-3">8 kmh</h1>
                </div>
            </div>

        </div>
    </div>
</div>